/*------------------------------------------------------------------
[Table of contents]

1. Bootstrap Alert
2. Bootstrap Jumbotron
3. Bootstrap Panel
4. Bootstrap List Group
5. Bootstrap Buttons
6. Blog Posts
7. Clients
8. Contact Form
9. Members Slider
10. Testimonials 1
11. Testimonials 2
12. Bubble Box
13. Services Slider
14. Custom Service
15. Title & Subtitle
16. Social Icons
17. Service Activity
18. Skills
19. Pricing Tables
20. Icon List Item
21. Skill Circle
22. TYPED.JS CSS
23. Instagram Feed
24. Smooth Gallery 
25. LiveMesh Plugin
26. Tweets Shortcode

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Bootstrap Alert
-------------------------------------------------------------------*/

/*BORDERED*/

/*------------------------------------------------------------------
2. Bootstrap Jumbotron
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
3. Bootstrap Panel
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
4. Bootstrap List Group
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
5. Bootstrap Buttons
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
6. Blog Posts
-------------------------------------------------------------------*/

/*1. Responsive Min_1024px and Max_1200px*/

/*2. Responsive Min_991px and Max_1023px*/

/*3. Responsive Min_768px and Max_992px*/

/*4. Responsive Min_480px and Max_767px*/

/*5. Responsive Min_320px and Max_480px*/

/*6. Responsive Max_319px*/

/*------------------------------------------------------------------
7. Clients
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
8. Contact Form
-------------------------------------------------------------------*/

/*.dark_version .contact_button .submit-contact-button {
    background-color: transparent;
    border: 1px solid rgba(255,255,255,0.8);
    color: rgba(255,255,255,0.8);
}*/

/*////////////////*/

/* Hoshi */

/*------------------------------------------------------------------
9. Members slider
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
9. Testimonials 1
-------------------------------------------------------------------*/

/*.testimonial01_item::after {
    border-left: 20px solid rgba(0, 0, 0, 0);
    border-right: 20px solid rgba(0, 0, 0, 0);
    border-top: 20px solid #ffffff;
    bottom: -20px;
    content: "";
    left: 50px;
    position: absolute;
}*/

/*------------------------------------------------------------------
11. Testimonials 2
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
12. Bubble Box
-------------------------------------------------------------------*/

.mt_bubble_box {
    background: #f6f6f6 none repeat scroll 0 0;
    padding: 30px;
    position: relative;
    margin-bottom: 20px;
}

.mt_bubble_box .bubble_title {
    font-weight: bold;
    margin: 0;
}

.bubble_footer_text {
    font-weight: bold;
    margin: 15px 0 0;
}

.mt_bubble_box .bubble_subtitle {
    margin: 8px 0 15px;
    color: #00afef;
}

.bubble_pointer {
    position: absolute;
    content: '';
    border-style: solid;
    display: block;
    width: 0px;
    z-index: 1;
}

.bubble_footer_text>span {
    color: #00afef;
}

/*------------------------------------------------------------------
13. Services Slider
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
14. Custom Service
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
15. Title & Subtitle
-------------------------------------------------------------------*/

.title-subtile-holder .section-title {
    margin-top: 0;
}

.title-subtile-holder {
    margin-bottom: 40px;
}

.section-title {
    text-align: center;
    font-weight: bold;
}

.section-subtitle {
    color: #9aa7af;
    font-size: 18px;
    font-weight: 400;
    margin: 5px auto 0;
    text-align: center;
    width: 70%;
}

.dark_title {
    color: #333333;
}

.dark_subtitle {
    color: #808285;
}

/*------------------------------------------------------------------
16. Social Icons
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
17. Service Activity
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
18. Skills
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
19. Pricing Tables
-------------------------------------------------------------------*/

/*table for all*/

/* Pricing Table Style3 Pema */

/*------------------------------------------------------------------
20. Icon List Item
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
21. Skill Circle
-------------------------------------------------------------------*/

/*22. TYPED.JS CSS*/

/*23. Instagram Feed*/

/*VISUAL COMPOSER ADDON CSS*/

/*Style #1*/

/*Style #2*/

/*Style #3*/

/*Style #4*/

/*Style #5*/

/*Style #7*/

/*Style #8*/

/*Style #9*/

/*Style #10*/

/*24. Smooth Gallery*/

/*27. LiveMesh Plugin*/

/*26. Tweets Shortcode*/